<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
   <!-- <link rel="stylesheet" href="/assets/css/siimple.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
   <link rel="stylesheet" href="style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <title>1ponto5 | Campanha</title>
   <script type="text/javascript">
      $.urlParameters = (params) => {
         let results = new RegExp("[?&]" + params + "=([^&#]*)").exec(window.location.href);
         return results ? decodeURI(results[1]) : null;
      };
      let concluido = $.urlParameters("concluido");
   </script>
</head>
<body>
   <div class="content-wrap">
      <img id="content-bg-img" class="content-bg" src="" alt="" >

      <div id="content" class="siimple-content siimple-content--extra-large">

         <!-- Navbar --------------------------------------------------------- -->

         <div class="siimple--clearfix">
            <div class="siimple--float-left siimple--bg-dark siimple--rounded siimple--px-3 siimple--color-light">
               <a href="./" class="siimple-navbar-title siimple--color-light">1ponto5</a> | Travar o aquecimento global. Reciclar não chega.
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>

         <!-- Content --------------------------------------------------------- -->

         <div class="siimple-h2">Tarefa 3: Participar na campanha pela Justiça Climática</div>

         <!-- Welcome Message -->
         <div id="bem_vindo" class="siimple-grid" style="display:block;">
            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">
                  <div class="siimple-paragraph siimple-paragraph--lead">
                     Realiza um trabalho prático (individual ou em grupo) para participares no Movimento pela Justiça Climática!
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Justiça Climática representa a união entre as causas ambientais e as sociais. <strong>DEGRADAÇÃO AMBIENTAL E INJUSTIÇAS SOCIAIS TÊM A MESMA ORIGEM</strong>. Ou seja, o Movimento pela Justiça Climática entende as desigualdades sociais e os problemas ambientais e ecológicos como tendo a mesma origem, que é o sistema em que vivemos, que procura o crescimento e o lucro infinitos, ignorando as necessidades básicas das pessoas ou populações mais frágeis.
                  </div>
                  <!-- <div class="siimple-paragraph">
                     <ol>
                        <li>
                           Escolhe o suporte ou a ferramenta que vais utilizar para concretizares o trabalho; podes fazer um cartaz, vídeo, BD, ação de rua/flashmob, música/poema/conto, performance, desenho/pintura/escultura ou outro que te lembres. Para teres ideias, consulta <a class="siimple-link" target="_blank" href="https://hackmd.io/fEyCM4l2TlebEcVPvNLaQQ">aqui</a> para algumas ações realizadas por outras pessoas (artistas e não só).
                        </li>
                        <li>
                           Realiza um planeamento breve do que queres fazer, tentando responder às seguintes questões (para facilitar a organização do teu trabalho, podes preencher <a class="siimple-link" target="_blank" href="https://hackmd.io/m6BDpQb9S7CIA6t15uh1Fw">esta ficha</a>):
                           <ol>
                              <li><strong>Como?</strong> (definição das tarefas para realizar o trabalho)</li>
                              <li><strong>Quem?</strong> (caso o trabalho seja em grupo, como serão divididas as tarefas)</li>
                              <li><strong>Quando?</strong> (calendário de execução das tarefas)</li>
                              <li><strong>Com o quê?</strong> (lista recursos/ materiais necessários)</li>
                              <li><strong>Onde?</strong> (espaço(s) onde o trabalho vai ser realizado/apresentado)</li>
                           </ol>
                        </li>
                        <li>
                           Realiza o teu trabalho, regista-o em fotografia ou vídeo, e finalmente partilha-o connosco utilizando a plataforma HackMD!
                        </li>
                     </ol>
                  </div> -->
                  <div class="siimple-paragraph siimple--text-center">
                     Voltando ao HackMD, segue as instruções na guião para participar na campanha!
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="to_hackmd" class="siimple-btn siimple-btn--big siimple-btn--primary">
                        Começar
                     </div>
                  </div>
                  <div class="siimple-paragraph siimple--text-center">
                      Após terminares a tarefa 3 na plataforma HackMD, clica em “Concluir”.
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="finish" class="siimple-btn siimple-btn--big siimple-btn--primary">
                        Concluir
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Finished Message -->
         <div id="terminou" class="siimple-grid" style="display:none;">
            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">
                  <div class="siimple-paragraph siimple-paragraph--lead" align="center">
                     <div class="siimple--clearfix">
                        <img id="terminou-img" src="img/award_denis-sazhin_CC-BY.svg" alt="">
                     </div>
                     <strong>Parabéns, realizaste esta tarefa com sucesso<br/>e com isto chegaste ao final do 1ponto5!</strong>
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Não te esqueças que temos até 2030 para cortar, globalmente, 50% das emissões de gases com efeito de estufa (GEE) e isto só se consegue com mudanças estruturais na nossa sociedade, nomeadamente na maneira como produzimos energia ou como fazemos o transporte de mercadorias e pessoas (estas são as duas principais fontes de emissões de GEE em Portugal).
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Para isso temos que nos mobilizar e colocar pressão nos governos para não cederem aos interesses das empresas poluidoras, que procurarão sempre manter os seus negócios e os seus lucros. Precisamos de todas e de todos e por isso ativa a tua cidadania e junta-te ao Movimento pela Justiça Climática!”
                  </div>
               </div>
            </div>
         </div>

      </div>

      <!-- Footer ---------------------------------------------------------- -->

      <div class="footer siimple-content siimple-content--extra-large" align="center">
         <div class="siimple--clearfix">
            <div class="siimple-paragraph siimple--float-right">
               <small id="photo_credit" class="siimple-small">-</small>
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>
         <a href="https://linhavermelha.org/"><img src="linha-vermelha-logo.png"></a>
      </div>

   </div>
   <script type="text/javascript">
      $("#content-bg-img").attr('src', 'img/linha-vermelha.jpg');
      if(concluido == true) {
         $("#bem_vindo").attr("style","display: none");
         $("#terminou").attr("style","display: block");
         $("#photo_credit").text('gráfico: Denis Sazhin, Noun Project CC-BY');
      }
      $("#to_hackmd").on("click", toHackmd);
      function toHackmd() {
         window.open('https://hackmd.io/@1ponto5/campanha/', '_blank');
      }
      $("#finish").on("click", finish);
      function finish() {
         window.location.href = "campanha?concluido=1";
      }
   </script>
</body>

