
/* LAYOUT */

html, body, #jogo {
   padding: 0;
   margin: 0;
}

body {
   background-color: #E6A774;
}

#jogo {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -2;
}
#jogo-overlay{
   height: 600px;
}
.loading {
   border: #3337;
   border-width: 5px;
   border-style: dotted;
   text-align: center;
}
#jogo-overlay h2 {
   margin-top:200px;
}

#content {
   max-width: 800px;
   margin: 0 auto;
}
.overlay {
   background-color: #E6A77477;
   margin: 30px 0px;
   border: #3337;
   border-width: 5px;
   border-style: dotted;
   padding: 20px;
}
.title {
   text-align: center;
   height: 180px;
   padding: 20px 0 0 0;
   margin: 0;
}

/* FONTS */

h1, h2 {
   color: #9a0c0c;
   text-shadow: #f30c0c 1px 2px;
}

h3 {
   color: #333;
   /*background-color: #E6A77477;*/
/*   font-weight: 400;
   font-style: italic;*/
}

h1, h2, h3 {
    font-family: 'Kalam', cursive;
}

h1 {
   font-size: 2.7em;
   line-height: 1em;
   margin: 30px 0 0 0;
}

h3 {
   font-size: 1.8em;
   line-height: 2em;
   margin: 0;
}

h2 {
   font-size: 1.8em;
   line-height: 1em;
   margin: 0;
}


p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
}
