<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
   <!-- <link rel="stylesheet" href="/assets/css/siimple.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
   <link rel="stylesheet" href="style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <title>1ponto5 | Home</title>
</head>
<body>
   <div class="content-wrap">
      <img id="content-bg-img" class="content-bg" src="" alt="" >

      <div id="content" class="siimple-content siimple-content--extra-large photo_background">

         <!-- Navbar ------------------------------------------------------------------- -->

         <div class="siimple--clearfix">
            <div class="siimple--float-left siimple--bg-dark siimple--rounded siimple--px-3 siimple--color-light">
               <a href="" class="siimple-navbar-title siimple--color-light">1ponto5</a> | Travar o aquecimento global. Reciclar não chega.
            </div>
            <div class="siimple--float-right">
               <a href="https://hackmd.io/@1ponto5/campanha" target="_blank" class="siimple-btn siimple-btn--dark">Campanha</a>
            </div>
            <div class="siimple--float-right">
               <a href="https://hackmd.io/@1ponto5/pesquisa" target="_blank" class="siimple-btn siimple-btn--dark" style="margin-right:10px;">Pesquisa</a>
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>

         <!-- Content --------------------------------------------------------- -->

         <div class="siimple-jumbotron siimple-jumbotron--dark siimple--px-5 siimple--mb-4 siimple--rounded ">
         <div class="siimple-jumbotron-title">Bem-vindo ao 1ponto5!</div>
            <div class="siimple-jumbotron-detail">
               <p class="siimple-paragraph siimple-paragraph--lead">
               Neste jogo poderás:
                  <ul>
                     <li>Aprofundar conhecimentos sobre as alterações climáticas e a sua relação com a exploração de combustíveis fósseis;</li>
                     <li>Explorar diferentes modos de comunicação, tais como, vídeo, foto, performance, etc;</li>
                     <li>Produzir trabalhos para o Movimento pela Justiça Climática, disponibilizando-os online, à comunidade escolar, à comunidade local e até a nível nacional.</li>
                  </ul>
               </p>
            </div>
         </div>

         <div class="siimple-grid">

            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">
                  <div class="siimple-paragraph siimple--text-justify">
                     Vivemos numa crise ecológica e climática. Temos até 2030 para reduzir 50% das emissões de Gases com Efeito de Estufa (GEE), de forma a conter o aquecimento do planeta em 1.5ºC. Para tal, temos de alterar profundamente o modo como vivemos, por exemplo, no que diz respeito à produção de energia, à gestão das florestas e da água ou à produção de comida.
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Dizem-nos que não há alternativas. Mas a energia do sol e do vento está em todo o lado e deve ser aproveitada! Um mundo onde não se utiliza carvão, petróleo e gás em quantidades enormes não é um mundo das cavernas.
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Temos de respeitar a velocidade de regeneração do planeta, nós e a Natureza não estamos separados, nós somos a Natureza!
                  </div>
               </div>
            </div>
            <div class="siimple-rule dark_rule"></div>

            <div class="siimple-h2">Conteúdo do Jogo</div>

            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">

                  <div class="siimple-paragraph siimple--text-justify">
                     No 1ponto5 contribuis ativamente para o Movimento pela Justiça Climática, ao mesmo tempo que aprofundas conhecimentos sobre as alterações climáticas e formas de as combater. Porque a crise climática e ecológica é um problema do sistema em que vivemos, e não se resolve fazendo apenas reciclagem!
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Neste jogo existem três níveis e três tipos de tarefas. Em todos eles deves travar a exploração de combustíveis fósseis, ao mesmo tempo que aprofundas os teus conhecimentos sobre as alterações climáticas.
                  </div>
                  <div class="siimple-paragraph">
                     <ul>
                        <li><strong>Nível 1:</strong> <a class="siimple-link" href="jogo?local=queensland&guia=true">Trava novas explorações de carvão.</a></li>
                        <li><strong>Tarefa 1:</strong> <a class="siimple-link" href="quiz">Responde às perguntas do Quiz do Clima.</a></li>
                        <li><strong>Nível 2:</strong> <a class="siimple-link" href="jogo?local=vaca_muerta">Trava novas explorações de petróleo.</a></li>
                        <li><strong>Tarefa 2:</strong> <a class="siimple-link" href="pesquisa">Realiza uma pesquisa exploratória sobre um tema relacionado com o problema das alterações climáticas.</a></li>
                        <li><strong>Nível 3:</strong> <a class="siimple-link" href="jogo?local=cabo_delgado">Trava novas explorações de gás.</a></li>
                        <li><strong>Tarefa 3:</strong> <a class="siimple-link" href="campanha">Realiza um trabalho prático e participa ativamente no movimento pela Justiça Climática.</a></li>
                     </ul>
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="next" class="siimple-btn siimple-btn--big siimple-btn--primary">Começar!</div>
                  </div>
               </div>
            </div>
            <br />
            <div class="siimple-box" style="min-height: 245px;">
               <div class="siimple-h2 siimple-box-title">Linha Vermelha</div>
               <img id="local_img" class="siimple--float-left siimple--mr-2" src="linha-vermelha-logo-tor.png">
               <div class="siimple-p">
                  Pretendemos conquistar a atenção nacional e mobilizar a nossa população para mostrar ao país que não podemos aceitar novas prospeções e explorações de combustíveis fósseis em lado em nenhum, de forma a contribuir para o objetivo de limitar o aumento de temperatura em 1.5ºC.
               </div>
               <div class="siimple-p">
                  <a class="siimple-link" href="https://linhavermelha.org">linhavermelha.org</a>
               </div>
            </div>
         </div>

      </div>

      <!-- Footer ---------------------------------------------------------- -->

      <div class="footer siimple-content siimple-content--extra-large" align="center">
         <div class="siimple--clearfix">
            <div class="siimple-paragraph siimple--float-right siimple--color-dark">
               <small id="photo_credit" class="siimple-small">-</small>
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>
         <a href="https://linhavermelha.org/"><img src="linha-vermelha-logo.png"></a>
      </div>

   </div>

   <script type="text/javascript">
      $("#content-bg-img").attr('src', 'img/landscape_ELG21-from-Pixabay.jpg');
      $("#photo_credit").text('imagem: ELG21 from Pixabay');
      $("#next").on("click", next);
      function next() {
         window.location.href = "jogo?local=queensland&guia=true";
      }
   </script>
</body>

