<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
   <!-- <link rel="stylesheet" href="/assets/css/siimple.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
   <link rel="stylesheet" href="style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
   <script src="lib/p5.play.js" type="text/javascript"></script>
   <script type="text/javascript">
      $.urlParameters = (params) => {
         let results = new RegExp("[?&]" + params + "=([^&#]*)").exec(window.location.href);
         return results ? decodeURI(results[1]) : null;
      };
      let local = $.urlParameters("local");
      if(local == null) {
         local = 'queensland';
      }
      let guia = $.urlParameters("guia");
      let level;
      switch (local) {
         case 'queensland':
            level = 1;
            break;
         case 'vaca_muerta':
            level = 2;
            break;
         case 'cabo_delgado':
            level = 3;
            break;
      }
   </script>
   <script src="jogo.js"></script>
   <title>1ponto5 | Jogo</title>
</head>
<body>
   <div id="content" class="siimple-content siimple-content--extra-large">

      <!-- Navbar ------------------------------------------------------------------- -->

      <div class="siimple--clearfix">
         <div class="siimple--float-left siimple--bg-light siimple--rounded siimple--px-3">
            <a href="./" class="siimple-navbar-title siimple--color-dark">1ponto5</a> | Travar o aquecimento global. Reciclar não chega.
         </div>
      </div>
      <div class="siimple-rule"></div>

      <!-- Content ------------------------------------------------------------------ -->

      <div class="siimple--float-left siimple--bg-light siimple--rounded siimple--px-3">
         <div id="heading" class="siimple-h4" style="margin:5px 0 8px 0"></div>
      </div>

      <div id="jogo" align="center">
         <div id="loading">
            <div>
               <div class="siimple-box" align="center">
                  <div class="siimple-box-subtitle">Loading...</div>
               </div>
            </div>
         </div>
      </div>

      <div id="skip" class="siimple-btn siimple-btn--big siimple-btn--primary siimple--float-right" style="display: none" >Seguinte</div>

      <!-- Welcome Message -->
      <div id="bem_vindo" class="siimple-modal siimple-modal--medium" style="display:none;">
         <div class="siimple-modal-content">
            <div class="siimple-modal-header">
               <div id="local_title" class="siimple-modal-header-title"></div>
            </div>
            <div class="siimple-modal-body">
               <div class="siimple--clearfix">
                  <img id="local_img" class="siimple--float-left siimple--mr-2" src="">
                  <p id="local_info" class="siimple-p"></p>
               </div>
            </div>
            <div class="siimple-modal-footer" align="center">
               <div id="jogar" class="siimple-btn siimple-btn--primary">Jogar</div>
            </div>
         </div>
      </div>

      <!-- Instructions Box -->
      <div id="como_jogar" class="siimple-modal siimple-modal--medium" style="display:none;">
         <div class="siimple-modal-content">
            <div class="siimple-modal-header">
               <div class="siimple-modal-header-title">🎮 Como Jogar</div>
            </div>
            <div class="siimple-modal-body">
               <div class="siimple--clearfix">
                  <img class="siimple--float-right siimple--mr-2 siimple--mb-2" src="assets/dozer_wrapped.png">
                  <p class="siimple-p">Clica nas máquinas das empresas e nos seus negociadores para embrulhá-los em Linha Vermelha e impedi-los de chegarem até aos locais onde querem explorar carvão, petróleo ou gás. Podes clicar várias vezes para os embrulhar totalmente.</p>
               </div>
               <div class="siimple--clearfix">
                  <img class="siimple--float-left siimple--ml-2" src="assets/linha/linha2.png">
                  <p class="siimple-p">Atenção! Tens uma quantidade limitada de Linha, pelo que deves usá-la com moderação!</p>
                  <p class="siimple-p">Ao parares os negociadores, irás ganhar mais Linha Vermelha para poderes continuar a parar as máquinas.</p>
               </div>
            </div>
            <div class="siimple-modal-footer" align="center">
               <div id="continuar" class="siimple-btn siimple-btn--primary">Continuar</div>
            </div>
         </div>
      </div>

      <!-- Lose Message -->
      <div id="perdeste" class="siimple-modal siimple-modal--medium" style="display:none;">
         <div class="siimple-modal-content">
            <div class="siimple-modal-header">
               <div class="siimple-modal-header-title">🔥 Perdeste!</div>
            </div>
            <div class="siimple-modal-body">
               <div class="siimple--content" align="center">
                  <img id="perder_img" src="">
               </div>
               <p class="siimple-p msglead">Infelizmente não conseguiste travar as empresas de combustíveis fósseis…</p>
               <p class="siimple-p msgsublead">Sabias que:</p>
               <p class="siimple-p">
                  <span id="perdeste_msg"></span>
                  <a id="perdeste_msg_fonte" class="siimple-link" target="_blank" href="">(fonte)</a></p>
               </p>
               <p class="siimple-p">Volta a jogar para impedir que a temperatura média do planeta ultrapasse os 1,5ºC!</p>
            </div>
            <div class="siimple-modal-footer" align="center">
               <div id="tentar_denovo" class="siimple-btn siimple-btn--primary">Tentar Outra Vez</div>
            </div>
         </div>
      </div>

      <!-- Win Message -->
      <div id="ganhaste" class="siimple-modal siimple-modal--medium" style="display:none;">
         <div class="siimple-modal-content">
            <div class="siimple-modal-header">
               <div class="siimple-modal-header-title">🎉 Ganhaste!</div>
            </div>
            <div class="siimple-modal-body">
               <div class="siimple--content" align="center">
                  <img id="ganhar_img" src="">
               </div>
               <p id="ganhar_msg" class="siimple-p"></p>
               <p id="ganhar_next" class="siimple-p"></p>
            </div>
            <div class="siimple-modal-footer" align="center">
               <div id="next" class="siimple-btn siimple-btn--primary">Seguinte</div>
            </div>
         </div>
      </div>

   </div>

   <!-- Footer ---------------------------------------------------------- -->

   <div class="footer siimple-content siimple-content--extra-large" align="center">
      <div class="siimple--clearfix">
         <div class="siimple-paragraph siimple--float-right">
            <small id="photo_credit" class="siimple-small">-</small>
         </div>
      </div>
      <div class="siimple-rule"></div>
      <a href="https://linhavermelha.org/"><img src="linha-vermelha-logo.png"></a>
   </div>

   <script src="jogo_flow.js"></script>
   <script type="text/javascript">
   $("#skip").on("click", next);
   $("#next").on("click", next);
   function next() {
      switch(level) {
         case 1:
            //window.location.href = "jogo?local=vaca_muerta";
            window.location.href = "quiz";
            break;
         case 2:
            //window.location.href = "jogo?local=cabo_delgado";
            window.location.href = "pesquisa";
            break;
         case 3:
            window.location.href = "campanha";
            break;
      }
   }
   </script>
</body>

