<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
   <!-- <link rel="stylesheet" href="/assets/css/siimple.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
   <link rel="stylesheet" href="style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <title>1ponto5 | Pesquisa</title>
   <script type="text/javascript">
      $.urlParameters = (params) => {
         let results = new RegExp("[?&]" + params + "=([^&#]*)").exec(window.location.href);
         return results ? decodeURI(results[1]) : null;
      };
      let concluido = $.urlParameters("concluido");
   </script>
</head>
<body>
   <div class="content-wrap">
      <img id="content-bg-img" class="content-bg" src="" alt="" >

      <div id="content" class="siimple-content siimple-content--extra-large">

         <!-- Navbar ------------------------------------------------------------------- -->

         <div class="siimple--clearfix">
            <div class="siimple--float-left siimple--bg-dark siimple--rounded siimple--px-3 siimple--color-light">
               <a href="./" class="siimple-navbar-title siimple--color-light">1ponto5</a> | Travar o aquecimento global. Reciclar não chega.
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>

         <!-- Content --------------------------------------------------------- -->

         <div class="siimple-h2">Tarefa 2: Realiza uma Pesquisa Exploratória</div>

         <!-- Welcome Message -->
         <div id="bem_vindo" class="siimple-grid" style="display:block;">
            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">
                  <div class="siimple-paragraph siimple--text-justify">
                     Através da plataforma HackMD, faz uma pesquisa acerca de um dos seguintes temas:
                  </div>
                  <div class="siimple-paragraph">
                     <ul>
                        <li>Acordo de Paris</li>
                        <li>Alterações Climáticas</li>
                        <li>Atmosfera e Efeito de Estufa</li>
                        <li>Combustíveis Fósseis</li>
                        <li>Degelo</li>
                        <li>Democracia Energética</li>
                        <li>Justiça Climática</li>
                        <li>Sectores Mais Poluentes</li>
                        <li>Soluções</li>
                        <li>Sumidouros de carbono</li>
                        <li>Acordo de Glasgow</li>
                     </ul>
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Entra em cada tema para leres uma pequena introdução. Depois de realizares a pesquisa, esta será revista pela equipa da Linha Vermelha, e depois adicionada ao livro de pesquisa para ser posteriormente consultada por toda a gente.
                  </div>
                  <div class="siimple-paragraph siimple--text-center">
                     Acede à plataforma para começar e segue as instruções aí dadas:
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="to_hackmd" class="siimple-btn siimple-btn--big siimple-btn--primary">
                        Começar
                     </div>
                  </div>
                  <div class="siimple-paragraph siimple--text-center">
                     Após terminares a tarefa 2 na plataforma HackMD, clica em “Concluir”.
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="finish" class="siimple-btn siimple-btn--big siimple-btn--primary">
                        Concluir
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Finished Message -->
         <div id="terminou" class="siimple-grid" style="display:none;">
            <div class="siimple-grid-row">
               <div class="siimple-grid-col siimple-grid-col--12">
                  <div class="siimple-paragraph siimple-paragraph--lead">
                     <strong>Parabéns, realizaste esta tarefa com sucesso!</strong>
                  </div>
                  <div class="siimple-paragraph siimple--text-justify">
                     Agora, volta a jogar, seguindo para o nível 3, para travares a exploração de gás em Cabo Delgado! Utiliza a Linha Vermelha para impedir que a temperatura média do planeta ultrapasse os 1,5ºC!
                  </div>
                  <div class="siimple-paragraph">
                     <strong>Agora, volta a jogar!</strong>
                  </div>
                  <div class="siimple-paragraph" align="center">
                     <div id="next" class="siimple-btn siimple-btn--big siimple-btn--primary">
                        Seguinte
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <!-- Footer ---------------------------------------------------------- -->

      <div class="footer siimple-content siimple-content--extra-large" align="center">
         <div class="siimple--clearfix">
            <div class="siimple-paragraph siimple--float-right">
               <small id="photo_credit" class="siimple-small">-</small>
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>
         <a href="https://linhavermelha.org/"><img src="linha-vermelha-logo.png"></a>
      </div>

   </div>
   <script type="text/javascript">
      $("#content-bg-img").attr('src', 'img/arctic-research1_oak-ridge-national-laboratory_CC-BY.jpg');
      $("#photo_credit").text('foto: Oak Ridge National Laboratory CC-BY');
      if(concluido == true) {
         $("#bem_vindo").attr("style","display: none");
         $("#terminou").attr("style","display: block");
      }
      $("#to_hackmd").on("click", toHackmd);
      function toHackmd() {
         window.open('https://hackmd.io/@1ponto5/pesquisa/', '_blank');
      }
      $("#finish").on("click", finish);
      function finish() {
         window.location.href = "pesquisa?concluido=1";
      }
      $("#next").on("click", next);
      function next() {
         window.location.href = "jogo?local=cabo_delgado";
      }
   </script>
</body>

