<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
   <!-- <link rel="stylesheet" href="/assets/css/siimple.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
   <link rel="stylesheet" href="style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <title>1ponto5 | Quiz</title>
   <script type="text/javascript">
      $.urlParameters = (params) => {
         let results = new RegExp("[?&]" + params + "=([^&#]*)").exec(window.location.href);
         return results ? decodeURI(results[1]) : null;
      };
      let max_perguntas = Number($.urlParameters("max_perguntas"));
      if(max_perguntas == null || max_perguntas == 0 ) max_perguntas = 5;
   </script>
</head>
<body>
   <div class="content-wrap">
      <img id="content-bg-img" class="content-bg" src="" alt="" >

      <div id="content" class="siimple-content siimple-content--extra-large photo_background">

         <!-- Navbar ------------------------------------------------------------------- -->

         <div class="siimple--clearfix">
            <div class="siimple--float-left siimple--bg-dark siimple--rounded siimple--px-3 siimple--color-light">
               <a href="./" class="siimple-navbar-title siimple--color-light">1ponto5</a> | Travar o aquecimento global. Reciclar não chega.
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>

         <!-- Content ------------------------------------------------------------------ -->

         <div class="siimple-h2">Tarefa 1: Quiz do Clima</div>

         <!-- Progress Bar -->
         <div class="siimple-progress siimple-progress--primary quiz_progress dark_progress">
             <span id="progress" style="width:0;"></span>
         </div>

         <!-- Welcome Message -->
         <div id="bem_vindo" class="siimple-modal siimple-modal--medium" style="display:'';">
            <div class="siimple-modal-content">
               <div class="siimple-modal-header">
                  <div class="siimple-modal-header-title">Bem Vindo ao Quiz do Clima!</div>
               </div>
               <div class="siimple-modal-body">
                  <div class="siimple--clearfix">
                     <img class="siimple--float-left siimple--mr-2" src="">
                     <p class="siimple-p">Escolhe a resposta que consideras correta.</p>
                  </div>
               </div>
               <div class="siimple-modal-footer" align="center">
                  <div id="start" class="siimple-btn siimple-btn--primary">Começar</div>
               </div>
            </div>
         </div>

         <!-- Question Box -->
         <div id="quiz" style="display:none;">
            <div class="quiz_pergunta">
               <div class="siimple-box">
               <div id="pergunta" class="siimple-box-subtitle"></div>
               <div class="siimple-box-detail"><a id="fonte" href="#" target="_blank" class="siimple-link">Fonte</a></div>
               </div>
               <div id="resposta0" class="siimple-btn siimple-btn--fluid quiz_resposta"></div>
               <div class="siimple-rule"></div>
               <div id="resposta1" class="siimple-btn siimple-btn--fluid quiz_resposta"></div>
               <div class="siimple-rule"></div>
               <div id="resposta2" class="siimple-btn siimple-btn--fluid quiz_resposta"></div>
            </div>
         </div>


         <!-- Correct Answer Message -->
         <div id="correta" class="siimple-modal siimple-modal--medium" style="display:none;">
            <div class="siimple-modal-content">
               <div class="siimple-modal-header">
                  <div class="siimple-modal-header-title">✔️ Correta!</div>
               </div>
               <div class="siimple-modal-body">
                  <p class="siimple-p">
                     A resposta está certa!. Consulta a fonte desta informação <a id="correta_msg_fonte" class="siimple-link" target="_blank" href="">aqui</a>.
                  </p>
               </div>
               <div class="siimple-modal-footer" align="center">
                  <div id="correta_proxima" class="siimple-btn siimple-btn--primary">Seguinte</div>
               </div>
            </div>
         </div>

         <!-- Wrong Answer Message  -->
         <div id="errada" class="siimple-modal siimple-modal--medium" style="display:none;">
            <div class="siimple-modal-content">
               <div class="siimple-modal-header">
                  <div class="siimple-modal-header-title">❌ Errada!</div>
               </div>
               <div class="siimple-modal-body">
                  <p class="siimple-p">A resposta está errada. A resposta certa é:</p>
                  <blockquote id="resposta_certa" class="siimple-blockquote"></blockquote>
                  <p class="siimple-p">Consulta a fonte desta informação <a id="errada_msg_fonte" class="siimple-link" target="_blank" href="">aqui</a>.</p>
                  </p>
               </div>
               <div class="siimple-modal-footer" align="center">
                  <div id="errada_proxima" class="siimple-btn siimple-btn--primary">Seguinte</div>
               </div>
            </div>
         </div>

         <!-- Finished Message -->
         <div id="terminou" class="siimple-modal siimple-modal--medium" style="display:none;">
            <div class="siimple-modal-content">
               <div class="siimple-modal-header">
                  <div class="siimple-modal-header-title">Parabéns, realizaste esta tarefa com sucesso!</div>
               </div>
               <div class="siimple-modal-body">
                  <div class="siimple--clearfix">
                     <img class="siimple--float-left siimple--mr-2" src="">
                     <p class="siimple-p">Acertaste <span id="num_correta">#</span> dos <span id="num_perguntas">#</span> perguntas.</p>
                     <p class="siimple-p">Agora, volta a jogar, seguindo para o nível 2 para travares a exploração de petróleo na Vaca Muerta!</p>
                  </div>
               </div>
               <div class="siimple-modal-footer" align="center">
                  <div id="next" class="siimple-btn siimple-btn--primary">Seguinte</div>
               </div>
            </div>
         </div>

      </div>

      <!-- Footer ---------------------------------------------------------- -->

      <div class="footer siimple-content siimple-content--extra-large" align="center">
         <div class="siimple--clearfix">
            <div class="siimple-paragraph siimple--float-right">
               <small id="photo_credit" class="siimple-small">-</small>
            </div>
         </div>
         <div class="siimple-rule dark_rule"></div>
         <a href="https://linhavermelha.org/"><img src="linha-vermelha-logo.png"></a>
      </div>

   </div>

   <script src="quiz.js"></script>
   <script type="text/javascript">
      $("#content-bg-img").attr('src', 'img/clouds_edward-stojakovic_CC-BY.jpg');
      $("#photo_credit").text('foto: Edward Stojakovic CC-BY');
      $("#next").on("click", next);
      function next() {
         window.location.href = "jogo?local=vaca_muerta";
      }
   </script>

</body>

