
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Open+Sans&display=swap');

/* LAYOUT */

body {
   background-repeat: no-repeat;
}

.siimple-h1,
.siimple-h2,
.siimple-h3,
.siimple-h4,
.siimple-modal-header-title,
.siimple-jumbotron-title,
.siimple-navbar-title,
h1, h2, h3, h4, h5 {
   font-family: 'Roboto Slab', serif;
   /*font-size-adjust: 0.7;*/
}
.navbar-brand {
   color: #FFF;
   background-color: #922;
   line-height: 120%;
}

.content-wrap {
   overflow: hidden;
   position: relative;
}

.content-bg {
   opacity: 0.4;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

#content {
   position: relative;
   min-height: calc(100vh - 160px - 118px);
}

.footer {
   position: relative;
}

ul li, ol li {
   line-height: 1.8em;
}

.dark_rule {
   background-color: #788da0;
}
.dark_progress {
   border: 1px solid #788da0;
}

#terminou-img {
   margin: 50px;
}

/* QUIZ */

.quiz_resposta {
   margin-top: 7px;
   margin-bottom: 7px;
}

/*adapted from .sd-snippet-code from docs.siimple.xyz*/
.quiz_pergunta {
   display: block;
   padding: 10px;
   padding-bottom: 20px;
   border: 1px solid #788da0;
   background-color: #fff;
   border-radius: 10px;
   margin-top: 100px;
}

.quiz_progress {
   margin-top: 30px;
}

#photo_credit {
   color: #465664 !important;
}


/* JOGO */

#jogo {
   margin: 100px auto;
   border: #CCC;
   border-width: 3px;
   border-style: dashed;
   width: 800px;
   height: 600px;
}
#loading {
   height: 100%;
   display: table;
}
#loading div {
   display: table-cell;
   vertical-align: middle;
}
.msglead {
   /*text-align: center;*/
   font-weight: bold;
   font-size: 18px;
}
.msgsublead {
   font-style: italic;
   font-size: 18px;
}